/*Jumbotron*/
.start-img {
    /*background-image: url("./images/DSC_1351.JPG");*/
}

body > div.title-header.start.hidden-md.hidden-sm.hidden-xs > a > img{
    width: 100%;
}

.title-header, .jumbotron {
    background-color: #333333;
    color: white;
}

/*My name seen on right of screen*/

#title {
    text-align: right;
}

/*Background*/

body {
    background-color: rgb(100, 100, 100);
    height: 5000px;
}

/*Navbar*/

.navbar-inverse {
    font-size: larger;
}

/*add padding between seach button and more dropdown*/

#bs-example-navbar-collapse-1 > ul:nth-child(2) > li > a {
    background-color: rgba(73, 73, 73, 0.69);
    /*border: 1px solid black;*/
    margin-left: 15px;
}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right.hidden-sm > form > button {
    margin-left: 5px;
}

#button {
    color: #008686;
    background-color: #333333;
}
/*MAIN SECTION STYLING*/

section {
    color: whitesmoke;
}

blockquote{
    color: #009e9e;
    font-family: "American Typewriter";
    font-size: xx-large;
    font-weight: bolder;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 200px;
}

#quote {
    padding-left: 10%;
}

#hr {
    color: #005555;
}

#fullStack {
    text-align: center;
}

.contact{
    color: #f3f3f3;
    font-family: "American Typewriter";
    font-size: 55px;
    font-weight: bolder;
}

#contactText{
    font-size: 43px;
    font-family: "American Typewriter";
    color: #00ecec;
    font-weight: bold;

}
.contactInformation{
    text-align: center;
    margin-top: 250px;
    margin-bottom: 50px;
}

.infoButtons {
    color: #313131;
    background-color: rgba(75, 75, 75, 0.41);
    margin-bottom: 150px;

}
#button1 {
    margin-left: 30%;

}

.buttonPages {
    padding: 5px;
    font-size: 20px;
    background-color: #c7c7c7;
    color: whitesmoke;
}

.resume {
    color: #000000;
}

.container {
    background-color: rgba(63, 63, 63, 0.04);
}

strong{
    text-decoration: underline;
}

#funTimes{
    color: lightseagreen;
    background-color: rgba(0, 0, 0, 0.08);
    font-family: "Comic Sans MS";
    text-align: center;

}

/*Footer*/

.footer {
    text-align: center;
}


.btn-lg {
    color: rgba(243, 243, 243, 0.89);
}

footer {
    /*position: -ms-device-fixed;*/
}
