
/*body  {*/
    /*background: url("images/html3.jpg") no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*height: 100%;*/
/*}*/
@media (min-width: 1440px) {
    body {
        background: url("images/html3.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
    }
}
@media (min-width: 1200px) {
    body {
        background: url("images/html3.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
    }
}
@media (max-width: 320px) {
    body {
        background: url("images/html3.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
/*only screen and (-moz-min-device-pixel-ratio: 2),*/
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    body {
        background: url("images/html3.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
    }
}

/*Navbar*/
.top-navbar{
    position: fixed;
    width: 100%;
    z-index: 9;
}

/*Jumbotron*/

body > div.title-header.start.hidden-md.hidden-sm.hidden-xs > a > img{
    width: 100%;
}
/*Make space between navbar and jumbotron image*/
#top > div > div:nth-child(1){
    padding-top: 50px;
}

.title-header, .jumbotron {
    background: linear-gradient(180deg, rgba(51, 51, 51, 0.66), rgba(0, 0, 0, 0.92));
    /*background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #f2f2f2 360%), no-repeat;*/
    /*background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%), no-repeat;*/
    /*background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%), no-repeat;*/
    /*background-color: #333333;*/
    color: white;
}
.jumbotron{
    margin-bottom: -30px;
    background: rgb(125,126,125); /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(48, 7, 64, 0.6)), to(rgb(0, 0, 0)));
    background: -webkit-linear-gradient(rgba(48, 7, 64, 0.61) 0%, rgb(0, 0, 0) 100%);
    background: -moz-linear-gradient(rgba(48, 7, 64, 0.61) 0%, rgb(0, 0, 0) 100%);
    background: -o-linear-gradient(rgba(48, 7, 64, 0.61) 0%, rgb(0, 0, 0) 100%);
    background: linear-gradient(rgba(48, 7, 64, 0.6) 0%, rgba(0, 0, 0, 0.98) 100%);
}
/*My name seen on right of screen*/

.title {
    text-align: right;
    margin-top: 35px;
}
.title-dev{
    text-align: right;
    margin-right: 5%;
    margin-top: 100px;
    color: rgba(245, 245, 245, 0.81);
    font-family: sans-serif;
}
.title-info{
    margin-right: 5%;
    text-align: right;
}

/*****_*_*_*____*________CAROUSEL_________************/
.slider-size {
    height: 200px;
}
.carousel-caption{
    background: rgba(146, 146, 146, 0.53);
    border-radius: 15px 50px;
}
.carousel-inner>.item>img {
    display: block;
    margin:0 auto;
    /*height: 80%;*/
    /*width: 80%;*/
    /*max-width: 80%;*/
    /*margin-top: 100px;*/
}
#carousel-default > a.right.carousel-control > span.glyphicon.glyphicon-chevron-right, #carousel-default > a.left.carousel-control > span.glyphicon.glyphicon-chevron-left{
    /*padding-top: 60%;*/
}

    /********************/
/*Personal Projects*/
#container {
    background-color: rgb(0, 0, 0);
    padding-bottom: 100px;
    margin-bottom: 150px;
}
#container-two{
    background-color: rgba(0, 0, 0, 0.91);
    padding-top: 5%;
    padding-bottom: 3%;
    /*height: 9%;*/
}
#container-three{
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 150px;
}
#container-four{
    background-color: rgba(0, 0, 0, 0.9);
    margin-top: 200px;
    padding-bottom: 100px;
}
#container-five{
    background-color: rgb(255, 255, 255);
    /*margin: -40px 0 -20px 0;*/
    padding:100px 0 100px 0;
}
@media (max-width: 768px) {
    #container-five{
        background-color: rgba(17, 17, 17, 0.67);
    }
}
.cont-five{
    width: 60%;
    display: block;
    margin: 0 auto;
    background-color: rgba(51, 51, 51, 0.07);
    padding: 10px 50px 10px 10px;
    border-radius: 3px;

}
#container-five > section{
    background: rgba(0, 0, 0, 0.82);
}

#container-six{
    background-color: rgba(0, 0, 0, 0.89);
    /*margin: 0 0  0;*/
    padding:100px 0 100px 0;
}
#container-seven{
    background-color: rgb(0, 0, 0);
    margin: 300px 0 0 0;
    padding:100px 0 100px 0;
}

/*Navbar*/

.navbar-inverse {
    font-size: larger;
}
    /*Makes name Title Center for mobile screen*/
    #top > div > h1 {
        /*float: right;*/
        text-align: center;
    }


/*add padding between search button and more dropdown*/
.nav>li>a:focus, .nav>li>a:hover{
    background-color: #008686;
}

#bs-example-navbar-collapse-1 > ul:nth-child(2) > li > a {
    background-color: rgba(73, 73, 73, 0.69);
    /*border: 1px solid black;*/
    margin-left: 15px;
}
#bs-example-navbar-collapse-1 > ul.nav.navbar-nav.navbar-right.hidden-sm > form > button {
    margin-left: 5px;
}

#button {
    color: #008686;
    background-color: #333333;
}
.dropdown-menu>li>a{
    color: #009e9e;
}
.dropdown-menu{
    font-size: 1.3em;
    font-family: "American Typewriter";
    background: rgb(125,126,125); /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(48, 7, 64, 0.85)), to(rgb(0, 0, 0)));
    background: -webkit-linear-gradient(rgba(48, 7, 64, 0.61) 0%, rgb(0, 0, 0) 100%);
    background: -moz-linear-gradient(rgba(48, 7, 64, 0.85) 0%, rgb(0, 0, 0) 100%);
    background: -o-linear-gradient(rgba(48, 7, 64, 0.85) 0%, rgb(0, 0, 0) 100%);
    background: linear-gradient(rgba(48, 7, 64, 0.85) 0%, rgba(0, 0, 0, 0.98) 100%);
}
/*MAIN SECTION STYLING*/
.section-title {
    font-size: 2em;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 2%;
    color: #ededed;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.15);
}

section, body > main > div.container.resume{
    color: whitesmoke;
}


/*Projects*/
.search{
    width: 20%;
    display: block;
    margin: 0 auto;
}

#myInput {
    /*background-image: url('/images/search-icon.png'); !* Add a search icon to input *!*/
    background-position: 10px 6px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 4px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border-radius: 10px;
    margin: 0px 20px 10px 20px;
    text-align: center;
    border: 1px solid rgba(125,126,125,1); /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    /*background-color: rgba(31, 67, 67, 0.63); !* Grey background color *!*/
    background: linear-gradient(to right, rgba(0, 39, 39, 0.92), rgba(0, 255, 255, 0.66));
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 2em; /* Increase the font-size */
    color: #fff; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(127, 7, 145)), to(rgb(0, 81, 81)));
    background: -webkit-linear-gradient(rgb(127, 7, 145) 0%, rgb(0, 81, 81) 100%);
    background: -moz-linear-gradient(rgb(127, 7, 145) 0%, rgb(0, 81, 81) 100%);
    background: -o-linear-gradient(rgb(127, 7, 145) 0%, rgb(0, 81, 81) 100%);
    background: linear-gradient(rgb(127, 7, 145) 0%, rgb(0, 81, 81) 100%);

}

/*END OF PROJECTS SECTION*/

/*FULL STACK DEVELOPER*/
#fullStack > strong > a{
    font-family: Arial;
    padding: 30px;
    font-size: 1em;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    width: 150px;
    transition-duration: 0.4s;
    text-align: center;
    font-weight: bolder;

}

.skills{
    color: #009e9e;
    text-shadow: 0 3px 0 #004444;
}

#fullStack > strong > a:active {
    -webkit-box-shadow: 0px 3px 0px rgb(73, 73, 73), 0px 3px 6px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0px 3px 0px rgb(73, 73, 73), 0px 3px 6px rgba(0, 0, 0, .9);
    box-shadow: 0px 3px 0px rgb(73, 73, 73), 0px 3px 6px rgba(0, 0, 0, .9);
    position: relative;
    top: 6px;
}

body > main > section > h2:nth-child(4){
    margin-top: 180px;
}

h2{
    /*font-family: "American Typewriter";*/
    /*font-size: 3em;*/
    /*color: whitesmoke;*/
    text-align: center;
    margin-top: 5%;
}

h4, body > main > h3 > em{
    font-family: Arial;
    /*font-size: 2em;*/
    color: whitesmoke;
}
#photo-slide-desciption{
    text-align: center;
}

#recentProjects {
    padding-top: 100px;
}

blockquote{
    border: none;
    color: #009e9e;
    font-family: "sans-serif";
    font-size: .7em;
    width: 80%;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.2);
    margin: 10% 10% 15% 10%;
}

#quote {
    padding-top: 2%;
    font-size: 3em;
}

#hr {
    color: #005555;
}

#fullStack {
    margin-top: 10%;
    text-align: center;
}
.progress{
    margin-right: 3%;
    width: 40%;
    margin-left: 30%;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(127, 7, 145)), to(rgb(0, 81, 81)));
    background: -webkit-linear-gradient(rgb(127, 7, 145) 0%, rgb(0, 81, 81) 100%);
    background: -moz-linear-gradient(rgb(127, 7, 145) 0%, rgb(0, 81, 81) 100%);
    background: -o-linear-gradient(rgb(127, 7, 145) 0%, rgb(0, 81, 81) 100%);
    background: linear-gradient(rgb(127, 7, 145) 0%, rgb(0, 81, 81) 100%);
}

.contact{
    color: #f3f3f3;
    font-family: "Arial";
    font-size: 1.5em;
    font-weight: bolder;
}

#contact-text{
    font-size: 30px;
    font-family: "Arial";
    color: #c7c7c7;
    font-weight: bold;

}
.contact-information, #contact-info{
    margin-top: 50px;
    /*margin-bottom: 50px;*/
}
/****************************EMAIL**********************************EMAIL***********************************EMAIL*****************/
/*$buttons-height: 24px;*/
/*$sticky-width: 24px;*/
/*$padding: 10px;*/

.sticky-container {
    border-radius: 5px 0 0 5px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(0, 81, 81)), to(rgb(127, 7, 145)));
    background: -webkit-linear-gradient(rgb(0, 81, 81) 0%, rgb(127, 7, 145) 100%);
    background: -moz-linear-gradient(rgb(0, 81, 81) 0%, rgb(127, 7, 145) 100%);
    background: -o-linear-gradient(rgb(0, 81, 81) 0%, rgb(127, 7, 145) 100%);
    background: linear-gradient(rgb(0, 81, 81) 0%, rgb(127, 7, 145) 100%);
    box-shadow: gray -1px 1px;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-right: 3px;
    position: fixed;
    top: 50%;
    right: 0px;
    width: 00px;
    height: auto;
    z-index: 9999;
    margin-top: 10px;
    text-align: center;
}
.button-container:hover{
    border-radius: 20px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(127, 7, 145, 0.71)), to(rgba(0, 81, 81, 0.7)));
    background: -webkit-linear-gradient(rgba(127, 7, 145, 0.7) 0%, rgba(0, 81, 81, 0.71) 100%);
    background: -moz-linear-gradient(rgba(127, 7, 145, 0.71) 0%, rgba(0, 81, 81, 0.71) 100%);
    background: -o-linear-gradient(rgba(127, 7, 145, 0.71) 0%, rgba(0, 81, 81, 0.71) 100%);
    background: linear-gradient(rgba(127, 7, 145, 0.7) 0%, rgba(0, 81, 81, 0.71) 100%);
}
#modalBtn{
    background-color: #009e9e;
    border-radius: 50px;
}

#modalBtn:hover{
    background-color: #ff22ee;
}

#container-four > div.sticky-container:hover {
     width: 124px;
    background-color: rgba(0, 220, 220, 0.29);
 }

#sticky-button {
    padding: 0;
    display: block;
    text-align: left;
    height: 54px;;
    width: 84px;
    padding: 8px 16px;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
}
#modalBtn > img {
    max-height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: whitesmoke;
    opacity: 1; /* Firefox */
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #ffffff;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #ffffff;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: whitesmoke;
}

:-ms-input-placeholder { /* Microsoft Edge */
    color: whitesmoke;
}

/* The EMAIL Modal (background) */
.modalTwo {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#modalTwo > div > form{
    margin-bottom: 15px;
    padding-bottom: 15px;
    padding-top: 5px;
}

/* EMAIL Modal Content */
.email-modal-content {
    /*background-color: rgba(17, 17, 17, 0.54);*/
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* EMAIL Close Button */
.closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*****************END OF EMAIL*********************/


#back-to-top > h1 > a{
    color: white;
}

.infoButtons {
    color: #313131;
    background-color: rgba(73, 73, 73, 0);
    margin-bottom: 150px;
    display: flex;

}

.buttonPages {
    padding: 5px;
    font-size: 20px;
    background-color: #c7c7c7;
    color: whitesmoke;
    border-radius: 8px;
    width: 150px;
    transition-duration: 0.4s;
    text-align: center;

}

.buttonPages:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #008686;

}

/*------------------------------------------*/

.buttonPages {
    position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    background-color: rgb(64, 64, 64);
    font-family: 'Yanone Kaffeesatz';
    font-weight: 700;
    font-size: 2em;
    /*display: block;*/
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgb(73, 73, 73), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgb(81, 81, 81), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgb(73, 73, 73), 0px 9px 25px rgba(0,0,0,.7);
    margin: 100px auto;
    width: 150px;
    text-align: center;
    margin: 0 auto;

    /*float: ;*/

    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    -ms-transition: all .1s ease;
    -o-transition: all .1s ease;
    transition: all .1s ease;
}


.buttonPages:active {
    -webkit-box-shadow: 0px 3px 0px rgb(73, 73, 73), 0px 3px 6px rgba(0, 0, 0, .9);
    -moz-box-shadow: 0px 3px 0px rgb(73, 73, 73), 0px 3px 6px rgba(0, 0, 0, .9);
    box-shadow: 0px 3px 0px rgb(73, 73, 73), 0px 3px 6px rgba(0, 0, 0, .9);
    position: relative;
    top: 6px;
}

.buttonPages>a{
    color: rgba(255,255,255,1);
}





/*----------------------------------------*/
strong{
    text-decoration: underline;
}

p{
    word-break: break-all;
}
/*JQUERY CODE FOR JS FEATURES*/
.invisible{
    display: none;
}

.highlight{
    display: inline-block;
}

.hideRegister{
    display: none;
}

#aboutMe{
    text-align: center;
}
/*Technical Skills*/
td{
    font-family: Arial;
    font-size: 2em;
    color: #004444;
}

#tech-skills-title{
    color: #004444;
    font-family: "American Typewriter";
}

/*WORK HISTORY*/

.work-title{
    color: rgba(0, 134, 134, 0.75);
    text-shadow: 0 1px 0 rgba(108, 148, 147, 0.89);
}

/*Education*/
.college{
    color: white;
}
.img-responsive{
    margin-bottom: 15%;
    margin-left: 20%;
}
#education{
    margin-bottom: 3%;
}
#education-container{
    background-color: rgba(0, 0, 0, 0.43);
}

div.image-tiles div.col-lg-3.col-md-3.col-sm-3.col-xs-6{
    padding: 5px;
}
@media(max-width: 480px){
    div.image-tiles div.col-lg-3.col-md-3.col-sm-3.col-xs-6{
        padding: 5px;
        width: 100%;

    }
}


/*FOOTER SOCIAL MEDIAL LINKS----------------------------------------------------------------------*/

#footer-container{
    background: linear-gradient(180deg, rgb(100, 100, 100), rgb(0, 0, 0));
    /*position: absolute;*/
    width: 100%;

}
footer{


}
#footer-container > div{
    /*border-top: 3px solid #ccc;*/
    /*border-bottom: 3px solid #ccc;*/
    padding-left: -15px;
    padding-right: -15px;
    bottom: 0;
    width: 100%;
    position: relative;
    /*height: 200px;*/
}

ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}
i{
    height: 25px;
    width: 25px;
    text-align: center;
    transition: all 0.4s;
}

.one-button::before{
    float: left;
    position: absolute;
    top:0;
    left:0;
    height: 25px;
    width: 25px;
    padding: 1.5em;
    border-radius: 100%;
    content: "";
    background: rgb(125,126,125); /* Old browsers */ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(0, 64, 64)), to(rgb(108, 31, 126)));
    background: -webkit-linear-gradient(rgb(0, 64, 64) 0%, rgb(108, 31, 126) 100%);
    background: -moz-linear-gradient(rgb(0, 64, 64) 0%, rgb(108, 31, 126) 100%);
    background: -o-linear-gradient(rgb(0, 64, 64) 0%, rgb(108, 31, 126) 100%);
    background: linear-gradient(rgb(0, 64, 64) 0%, rgb(108, 31, 126) 100%); /* Opera 11.10+ */ /* IE10+ */ /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    z-index: 999;
    box-shadow: 0px 0px 10px 2px #f2f2f2;
    border: 1px solid #000;
}
.one-button {
    cursor: pointer;
    color: #fff;
    position: relative;
    z-index: 99999;
    top: 15px;
    text-align: center;
    margin: 0 auto;


}

.one-button:hover i{
    color: #ff22ee;

}
.one-button:active{
    top: 17px;
    transition: 0.1s;
}
.one-button i{
    color: #fff;
    position: relative;
    z-index: 99999;
    top: 15px;
    left: 16px;
}
.one-button::after{
    position: absolute;
    top:5px;
    left:5px;
    content: "";
    height: 15px;
    width: 15px;
    padding: 1.5em;
    border-radius: 100%;
    background: rgb(14,14,14); /* Old browsers */
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(0, 98, 98)), to(rgb(108, 31, 126)));
    background: -webkit-linear-gradient(rgb(0, 98, 98) 0%, rgb(108, 31, 126) 100%);
    background: -moz-linear-gradient(rgb(0, 98, 98) 0%, rgb(108, 31, 126) 100%);
    background: -o-linear-gradient(rgb(0, 98, 98) 0%, rgb(108, 31, 126) 100%);
    background: linear-gradient(rgb(0, 98, 98) 0%, rgb(108, 31, 126) 100%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#7d7e7d',GradientType=0 ); /* IE6-9 */
    z-index: 999;

    border: 1px solid #000;
}
ul.cont{
    top: 75px;
    width: 90%;
    left: calc(50% - 335px);
    box-sizing: content-box;
    text-align: center;
    margin: 0 auto;
    display: flex;

}

#construction {
    display: block;
    margin: 0 auto;
    width: 90%;
}
#social-media-links{
    margin-top: 3.5%;
}

/*TODO: **************************PHOTO SLIDE SHOW**************************/

#photography-title{
    margin-top: 5%;
}
body > main > h4 > em{
    text-align: center;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}
.end-container{
    background-color: black;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.prev{
    left: -35px;
}

/* Position the "next button" to the right */
.next {
    right: -35px;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

body > main > div:nth-child(12){
    margin-bottom: 8%;
}
/* **************************PHOTO SLIDE SHOW END**************************/
#back-to-top{
    text-align: center;
}

/*footer Buttons*/
a {
    /*color: #009e9e;*/
}

/*TODO MODAL*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#modal-title{
    font-size: 2em;
    color: rgba(255, 255, 255, 0.89);
    margin-bottom: 2%;
}
/* Modal Content/Box */
.modal-content {
    background-color: #0e0e0e;
    margin: 10%; /* 15% from the top and centered */
    /*padding: 20px;*/
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-footer{
    margin-bottom: 3%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/************************************Modal BUTTON*************************************/
#myBtn {
    border-radius: 4px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(72, 7, 89)), to(rgb(0, 44, 44)));
    background: -webkit-linear-gradient(rgb(73, 7, 89) 0%, rgb(0, 44, 44) 100%);
    background: -moz-linear-gradient(rgb(74, 7, 89) 0%, rgb(0, 44, 44) 100%);
    background: -o-linear-gradient(rgb(76, 6, 89) 0%, rgb(0, 44, 44) 100%);
    background: linear-gradient(rgb(76, 7, 89) 0%, rgb(0, 44, 44) 100%);
    width: 50%;
    margin:0 auto;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1em;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    /*margin: 5px;*/
}

#myBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#myBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#myBtn:hover span {
    padding-right: 25px;
}

#myBtn:hover span:after {
    opacity: 1;
    right: 0;
}

/************************************Modal BUTTON END*************************************/
a{
    color: white;
}

#myModal > div > div.modal-footer.col-lg-10.col-md-10.col-sm-10.col-xs-10 > h2 > a{
    padding-bottom: 5%;
}
#photo-modal{
    padding-top: 2%;
    font-size: 2em;
}

#photo-title{
    color: #a2a2a2;
}

/*JUST ABOVE FOOTER*/
/*****************************************************END OF NAV*******************************************/
/*body > main > section > div.split.row > div.hidden-xs.col-sm-12.col-md-12.col-lg-12 {*/
    /*margin-top: 140px;*/

/*}*/

/*.margin-width {*/
    /*margin-top: 300px;*/
    /*margin-bottom: 100px;*/
    /*background: #ff22ee;*/
/*}*/

/*.split {*/
    /*font-family: "American Typewriter";*/
    /*font-size: 30px;*/
/*}*/

/*.photos {*/
    /*border: 0.5em solid lightgrey;*/
    /*width:500px;*/
    /*height: 229px;*/
    /*position:relative;*/
    /*margin-bottom: 15px;*/
/*}*/

/*.space {*/

    /*margin-top: 10px;*/
    /*text-align: left;*/

/*}*/

/*.ddsh {*/
    /*float: right;*/
    /*position: relative;*/

/*}*/

/*.bg-danger {*/
    /*background:#e6563b;*/
    /*padding: 5px;*/
    /*border: 2px solid white;*/
    /*border-radius: 50%;*/
    /*font-family: "American Typewriter", sans-serif;*/
    /*font-size: 14px;*/

/*}*/

/*.bg-warning {*/
    /*background: #DEA03D;*/
    /*padding: 5px;*/
    /*border: 2px solid white;*/
    /*border-radius: 50%;*/
    /*font-family: "American Typewriter", sans-serif;*/
    /*font-size: 14px;*/
/*}*/

/*.bg-success {*/
    /*background: #7cb06c;*/
    /*padding: 5px;*/
    /*border: 2px solid white;*/
    /*border-radius: 50%;*/
    /*font-family: "American Typewriter", sans-serif;*/
    /*font-size: 14px;*/
/*}*/

/*.bg-info {*/
    /*background: #00aba9;*/
    /*padding: 5px;*/
    /*border: 2px solid white;*/
    /*border-radius: 50%;*/
    /*font-family: "American Typewriter", sans-serif;*/
    /*font-size: 14px;*/
/*}*/

/*.shift {*/
    /*margin-top: 40px;*/
/*}*/


/*.lastimgrow {*/
    /*width: 100%;*/
    /*border:1.5px solid darkgrey;*/

/*}*/

/*.lasttext {*/
    /*padding: 0px;*/
    /*font-family: "American Typewriter";*/
    /*float: left;*/
    /*text-align: left;*/
    /*font-size: 1em;*/
/*}*/

/*.last {*/
    /*font-family: "American Typewriter";*/
    /*text-align: left;*/
    /*font-size: 20px;*/
/*}*/

/*.twitter {*/
    /*margin-top: 40px;*/
/*}*/

/*.twit {*/
    /*width: 100%;*/
/*}*/

/*!*!*------xs devices default setting in Bootstrap-------*!**/

/*@media (max-width: 767px) {*/
    /*.select {*/
        /*text-align: center;*/
    /*}*/

    /*.photos {*/
        /*width: 100%;*/
        /*height: auto;*/

        /*display: inline-block;*/
    /*}*/

/*}*/

/*#background-image{*/
    /*margin-top: 200px;*/
    /*background: rgba(0, 0, 0, 0.61);*/
/*}*/
/*!*---------sm devices--------*!*/

/*@media (min-width:768px) {*/
    /*.select {*/
        /*text-align: center;*/

    /*}*/
    /*.photos {*/
        /*width: 100%;*/
        /*float: left;*/
    /*}*/
/*}*/
/*!*-----------medium devices-------*!*/

/*@media (min-width:992px) {*/
    /*.photos {*/
        /*width:100%;*/
        /*float: left;*/
    /*}*/

/*}*/
/*!*------------lg and xl devices-------*!*/

/*@media (min-width:1200px) {*/
    /*.photos {*/
        /*width: 100%;*/
        /*float: left;*/
    /*}*/

    /*.margin-width {*/
        /*width: 75%;*/
        /*margin-left: 10%;*/
    /*}*/

    /*.lastimgrow {*/
        /*margin-bottom: 20px;*/
    /*}*/
/*}*/